<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
<head>
<title>Cadastro de Livros</title>
</head>

<section layout:fragment="conteudo">	

	<form class="form-horizontal" method="POST" action="novo" th:object="${livro}" >
	
		 <div th:replace="MensagemGeral"></div>
		 <div th:replace="MensagemErro"></div>
		 
		 
		<div class="card">
			<div class="card-header">
				<div class="clearfix">
					<h2 class="new-header">Novo livro</h2>
					<a class="btn btn-primary newButton gft-link-card" href="/livros">Voltar para Biblioteca</a>
				</div>
			</div>
			<div class="card-body card-bordered">
			
				<input type="hidden" th:field="*{id}"/>
				
				<div class="form-group row ">
					<label for="titulo" class="col-sm-2 col-form-label">Título</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" th:classappend="${#fields.hasErrors('titulo')} ? 'is-invalid'" id="titulo" th:field="*{titulo}"/>
					</div>
				</div>
				
				<div class="form-group row ">
					<label for="autor" class="col-sm-2 col-form-label">Autor</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" th:classappend="${#fields.hasErrors('autor')} ? 'is-invalid'" id="autor" th:field="*{autor}"/>
					</div>
				</div>
				
				<div class="form-group row ">
					<label for="editora" class="col-sm-2 col-form-label">Editora</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" th:classappend="${#fields.hasErrors('editora')} ? 'is-invalid'" id="editora" th:field="*{editora}"/>
					</div>
				</div>
				
				<div class="form-group row ">
					<label for="quantidadePaginas" class="col-sm-2 col-form-label">Quantidade de Páginas</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" th:classappend="${#fields.hasErrors('quantidadePaginas')} ? 'is-invalid'" id="quantidadePaginas" th:field="*{quantidadePaginas}"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="quantidadeExemplares" class="col-sm-2 col-form-label">Quantidade de Exemplares</label>
					<div class="col-sm-2 ">
						<input type="text" class="form-control" th:classappend="${#fields.hasErrors('quantidadeExemplares')} ? 'is-invalid'" id="quantidadeExemplares" th:field="*{quantidadeExemplares}" />
					</div>
				</div>

				<div class="offset-sm-2">
					<div class="col-sm-3 ">
						<button type="submit" class="btn btn-primary col-sm-4 alinhasalvar ">Salvar</button>

					</div>
				</div>

			</div>
		</div>
	
	</form>
</section>
</html>